body {
  margin: 0;
  padding: 0;
  background-color: rgba(164,209,255,1);
  background-repeat: no-repeat;
  height: cover;
  background-image: linear-gradient(180deg, rgba(141,133,231,1) 0%, rgba(164,209,255,1) 100%);
}

h1 {
	font-size: 75px;
	margin: 0;
	padding: 0;
	color: white;
	text-align: center;
}


p {
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}

ul {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 256px;
	height: 100vh;
	background: rgb(39,17,1);
}

a:link, a:visited {
	color: rgba(255, 255, 255, 1);
	font-size: 45px;
}
