<p class="splash" id="splash">"missingno"</p>
<script>
	const splash = [
		"Removed Herobrine",
		"I love Pesto mmm yummy",
		"45",
		"Yo, Angelo",
		"Have you heard of the Psycho Helmet Religion?",
		"This site was made using notepad",
		"Press THROW and then JUMP to throw Salmon Eggs further",
		"Salutations, Sir!",
		"Eh? Is that a... TURRÓN?!",
		"Hmm... that's infaccurate.",
		"Why are oranges called orange but apricots aren't called orange 🤯",
		"I can't stop procrastinating, HELP",
		"Searing Shells by Kojimkj, best stage",
		"Let the shackles be released!",
		"I... am licorice",
		"Awesome orb of awesomeness",
		"Give me a drink, bartender",
		"Invoke a Magical Storm!",
		"I'm not a sussy baka,,,",
		"Shigu shigu?",
		"I'm not like other girls",
		"ROFS (Rolling on the Floor Starving)",
		"Mmm... banana",
		"human.. i remember you're genocides."
	];
	
	const rng = Math.floor(Math.random() * splash.length);
	document.getElementById('splash').innerHTML = "<b>\"" + splash[rng] + "\"";
</script>
