<p id="splash">"missingno"</p>
<script>
	const splash = [
		"Removed Herobrine",
		"I love Pesto mmm yummy",
		"45",
		"Yo, Angelo",
		"You should watch Mob Psycho 100 rn",
		"This site was made using notepad",
		"Press THROW and then JUMP to throw Salmon Eggs further",
		"Eh? Is that a... TURRÓN?!",
		"Why are oranges called orange but apricots aren't called orange 🤯",
		"I can't stop procrastinating, HELP",
		"Searing Shells by Kojimkj, best stage",
		"Let the shackles be released!",
		"I... am licorice",
		"Awesome orb of awesomeness",
		"Give me a drink, bartender"
	];
	
	const rng = Math.floor(Math.random() * splash.length);
	document.getElementById('splash').innerHTML = "<b>\"" + splash[rng] + "\"";
</script>
