@font-face {
    font-family: Ubuntu;
    src: url(fonts/ubuntu/Ubuntu-R.ttf);
}

@font-face {
    font-family: Ubuntu;
    src: url(fonts/ubuntu/Ubuntu-B.ttf);
    font-weight: bold;
}

body {
	grid-auto-flow: column;
	background-image: url(sprites/clouds_pattern.png);
	font-family: Ubuntu, sans-serif;
}

div.body {
	max-width: 1000px;
	border-radius: 45px;
	margin: 45px auto 90px;
	padding: 20px 10px;
	background-image: linear-gradient(#75A9BF, #6C90AC);
}

div.gallery {
	overflow-x: scroll;
	overflow-y: hidden;
	height: 300px;
	white-space: nowrap;
	
}

.gallery {
	float: none;
    height: 95%;
}

h1 {
	font-size: 2.25em;
	text-align: center;
	color: #DAF6FF;
}

h2 {
	font-size: 1.75em;
	text-align: center;
	color: #DAF6FF;
}

p {
	text-align: center;
	font-size: 1.4em;
	color: #DAF6FF;
}

a {
	color: WHITE;
	text-decoration: underline #DAF6FF;
}


footer.footer {
	padding: 5px 0px;
	background: #6B5460;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
}

p.footer {
	font-size: 1em;
}

table {
  width: 100%;
}

th, td {
  padding: 5px;
  font-size: 1.4em;
  color: #DAF6FF;
  text-align: left;
}

img.showcase {
  display: block;
  width: auto;
  max-height: 512px;
  margin-left: auto;
  margin-right: auto;
}
