@font-face {
    font-family: Ubuntu;
    src: url(fonts/ubuntu/Ubuntu-R.ttf);
}

@font-face {
    font-family: Ubuntu;
    src: url(fonts/ubuntu/Ubuntu-B.ttf);
    font-weight: bold;
}

body {
	grid-auto-flow: column;
	background-image: url(sprites/clouds_pattern.png);
	font-family: Ubuntu, sans-serif;
	margin: 0;
}

div.body {
	max-width: 768px;
	min-height: calc(100vh - 350px);
	margin: -36px auto 0;
	padding: 32px 10px 100px;
	background-color: WHITE;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

div.panelbox {
	border-radius: 32px;
	padding: 8px;
	margin: 16px;
	background-color: WHITE;
	outline: 1px solid #946047;
}

header {
	padding: 10px 40px;
	background-color: #45242E;
}

img.header_pfp {
	position: absolute;
	top: 4px;
	left: 12px;
	border-radius: 50%;
	height: 128px;
}

.navbar-container {
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr;
}

.navbar-item {
	grid-row-start: 1;
	grid-column-start: 1;
}

.navbar-bg {
	background-image: url(sprites/navbar.png);
	height: 100px;
	width: 125%;
	animation: navbarscroll 3s linear infinite;
}


@keyframes "navbarscroll" {
	0% {
		transform: translate(0);
	}
	100% {
		transform: translate(-74px);
	}
}

div.grid_container2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0;
}

div.grid_container3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 0;
}

div.gallery {
	overflow-x: scroll;
	overflow-y: hidden;
	height: 300px;
	white-space: nowrap;
	
}

.gallery {
	float: none;
    height: 95%;
}

h1 {
	margin: 36px 0 8px ;
	font-size: 2.75em;
	text-align: center;
	
}

h2 {
	font-size: 1.75em;
	text-align: center;
}

p {
	margin: 16px 0;
	text-align: center;
	font-size: 1.4em;
}

a {
	color: #D6B57D;
	text-decoration: underline #D6B57D;
}

.navbar-item a {
	color: #946047;
	text-decoration: underline #946047;
}

.navbar-item a:hover {
	color: #F0DBA5;
	text-decoration: underline #F0DBA5;
}


footer.footer-container {
	padding: 5px 0 0;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
}

.footer-bg {
	background-image: url(sprites/footer.png);
	height: 100px;
	width: 125%;
	animation: navbarscroll 3s linear infinite;
	animation-direction: reverse;
}


table {
  width: 100%;
}

th, td {
  padding: 5px;
  font-size: 1.4em;
  color: #946047;
  text-align: left;
}

img.showcase {
  display: block;
  width: auto;
  max-height: 512px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 768px) {
	.mobile-hide {
		display: none;
	}
}
