@font-face {
    font-family: Ubuntu;
    src: url(assets/fonts/ubuntu/Ubuntu-R.ttf);
}

@font-face {
    font-family: Ubuntu;
    src: url(assets/fonts/ubuntu/Ubuntu-B.ttf);
    font-weight: bold;
}

h1 {
	text-align: center;
	font-size: 2.2em;
}

p {
	font-size: 1.3em;
	margin: 4px;
}

body {
  font-family: Ubuntu, sans-serif;
  background-color: white;
  background-repeat: no-repeat;
  background-image: linear-gradient(#E7E0F5, white);
}

div.body {
	background-color: rgba(255, 255, 255, 0.85);
	padding: 24px;
	margin: 16px;
	background-image: linear-gradient(white, #E7E0F5);
	border-radius: 45px;
	box-shadow: 0 0 20px 10px rgba(52,40,66,0.2);
	image-rendering: pixelated;
}

img {
	float: right;
}

img.preview {
	float: right;
	padding: 24px;
	background-image: linear-gradient(white, #F7F5FC);
	border-radius: 100px;
	box-shadow: 0 0 20px 10px rgba(52,40,66,0.1);
}

@media only screen and (max-width: 800px) {
	img.preview {
		float: left;
		width: 100%;
		padding: 0;
		border-radius: 45px;
	}
}
