@font-face {
    font-family: Ubuntu;
    src: url(assets/fonts/ubuntu/Ubuntu-R.ttf);
}

@font-face {
    font-family: Ubuntu;
    src: url(assets/fonts/ubuntu/Ubuntu-B.ttf);
    font-weight: bold;
}

body {
  font-family: Ubuntu, sans-serif;
  background-color: rgba(164,209,255,1);
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg, rgba(141,133,231,1) 0%, rgba(164,209,255,1) 100%);
}

div.body {
	background-color: rgba(255, 255, 255, 0.85);
	padding: 24px;
	margin: 32px 10%;
	background-image: linear-gradient(white, #E7E0F5);
	border-radius: 100px;
	box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
	
}


h1 {
	font-size: 3em;
	margin: 0;
	padding: 0;
	color: #271101;
	text-align: center;
}

h2 {
	font-size: 2.25em;
	margin: 12px 0 0 0;
	padding: 0;
	color: #271101;
	text-align: center;
}

p {
	color: #271101;
	text-align: center;
	font-size: 1.4em;
	margin: 4px;
}

img {
	float: right;
	background-color: rgba(255, 255, 255, 0.85);
	padding: 24px;
	background-image: linear-gradient(white, #E7E0F5);
	border-radius: 100px;
	box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
}

a {
	font-size: 2.25em;
	margin: 0 56px;
	color: white;
	float: right;
}
