{% include head.html %}
{% include header.html %}
<body>
    <div class="body">
    <section>
{% if page.header != null %}
	<h1 class="parent-page"><a class="no-deco" href="{% for link in site.data.header_links %}{% if link.name == page.header %}{{ link.url }}{% endif %}{% endfor %}"><img class="colorize-pink" height="34px" src="/assets/sprites/symbol-{{ page.header }}.png"> {{ page.header | capitalize }}/</a></h1>
    <h1 class="header-separator">{{ page.title }}</h1>
{% else %}
	<h1 class="header-separator"><img class="colorize-magenta" height="34px" src="/assets/sprites/symbol-{{ page.title | downcase }}.png"> {{ page.title }}</h1>
{% endif %}
		{{ content }}
    </section>
    </div>
	{% include footer.html %}
  </body>
</html>
