---
layout: default
---
<div class="grid-container-3 card">
	<p><b>Release year:</b> {{ page.year }}</p>
	<p><b>Category:</b> {{ page.category }}</p>
	<p><b>Status:</b> {{ page.status }}</p>
</div>
{{ content }}
<h2>Gallery</h2>
{% if page.images.size >= 1 %}
<div class="gallery">
	{% for image in page.images %}
		<a href="{{ image }}"><img class="gallery" src="{{ image }}"></a>
	{% endfor %}
{% endif %}
</div>
<h2>Links</h2>
<p>
{% for link in page.links %}
	{% capture url %}{{ link[1] }}{% endcapture %}  {% capture title %}{{ link[0] }}{% endcapture %}
	{% include itembox.html url=url item5=title %}
{% endfor %}
</p>
</div>
