---
layout: default
---
{% include itembox_style.html %}
<div class="grid_container3 panelbox">
	<p><b>Release year:</b> {{ page.year }}</p>
	<p><b>Category:</b> {{ page.category }}</p>
	<p><b>Status:</b> {{ page.status }}</p>
</div>
{{ content }}
<h2>Gallery</h2>
{% if page.images.size >= 1 %}
<div class="gallery">
	{% for image in page.images %}
		<a href="{{ image }}"><img class="gallery" src="{{ image }}"></a>
	{% endfor %}
{% endif %}
</div>
<h2>Links</h2>
<p>
{% for link in page.links %}
	<div class="itembox" onclick="location.href='{{ link[1] }}';" onauxclick="window.open('{{ link[1] }}');">
		<div class="ib-item4"><p>{{ link[0] }}</p></div>
	</div>
{% endfor %}
</p>
</div>
